.register{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    margin-top: 20px;
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
}

form h2{
    text-align: center;
    color: #ADD8E6;
}

.user-icon{
    text-align: center;
}

form .inputs{
    display: flex;
    flex-direction: column;
}

form .inputs input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
}


form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
}

.submit-btn{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #ADD8E6 ;
    outline: none;
    cursor: pointer;

}